.container2 {
    min-width: 650px;
    width: 100%;
  
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -10px;
}

form label {
    text-align: left;
    color: #FFF;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 23px;
    width: 100%;
}

form input {
    border: 0;
    border-radius: 4px;
    height: 35px;
    width: 400px;
    margin-bottom: 10px;

    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
}

form input:focus {
    border: 2px solid #000;
    padding: 4px;
}

form button {
    border: 4px solid #FFF;
    border-radius: 12px;
    background: transparent;
    width: 400px;
    height: 45px;
    color: #FFF;
    margin-top: 10px;

    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 22px;

    transition: background 1s, color 1s;
}

form button:hover {
    cursor: pointer;
    color: #000;
    background: #FFF;
}

.container2 .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 70px;
  
    color: #FFF;
    text-decoration: none;
    margin-bottom: 50px;
}
    
.container2 .title:hover {
    border-bottom: 3px solid #FFF;
}

#thumbnail {
    background-size: cover;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ddd;
    height: 160px;
    margin-bottom: 20px;
}

#thumbnail input {
    display: none;
}

#thumbnail img {
    color: white;
    width: 65px;
}

select {
    width: 400px;
    height: 45px;
    border: 0;
    border-radius: 4px;
    color: #000;
    
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
}