@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  /* background: #000 url('./assets/background.jpg') no-repeat;    */
  /* background-size: cover; */
  background: rgb(255, 165, 81);
  -webkit-font-smoothing: antialiased !important;
  color: #FFF;
}

body, input, button {
  font-family: 'Roboto', Arial, Arial, Helvetica, sans-serif;  
  font-size: 14px;
}

button {
  border: 0
}